---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import FeatureCard from "../components/FeatureCard.astro";
import GetInvite from "../components/GetInvite.astro";
import MainCard from "../components/MainCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <MainCard
      imageFileName="create-and-share.jpg"
      imageFolderName="home"
      description="Photosnap is a platform for photographers and visual storytellers. We make it easy to share photos, tell stories and connect with others."
      title="Create and share your photo stories."
      isHero
      button={"Get an invite"}
    />
    <MainCard
      imageFileName="beautiful-stories.jpg"
      imageFolderName="home"
      description="We provide design templates to ensure your stories look terrific. Easily add photos, text, embed maps and media from other networks. Then share your story with everyone. "
      title="beautiful stories every time"
      button={"VIEW THE STORIES"}
      isReverse
      isLight
    />
    <MainCard
      imageFileName="designed-for-everyone.jpg"
      imageFolderName="home"
      description="Photosnap can help you create stories that resonate with your audience.  Our tool is designed for photographers of all levels, brands, businesses you name it. "
      title="DESIGNED FOR EVERYONE"
      button={"VIEW THE STORIES"}
      isLight
    />
    <div class="tablet:grid grid-cols-2 desktop:grid-cols-4">
      <Card
        author="by John Appleseed"
        date=""
        title="The Mountains"
        background="bg-[linear-gradient(180deg,rgba(0,0,0,0.0001)0.27%,rgba(0,0,0,0.661222)_100%),url(/stories/mobile/mountains.jpg)] tablet:bg-[linear-gradient(180deg,rgba(0,0,0,0.0001)0.27%,rgba(0,0,0,0.661222)_100%),url(/stories/desktop/mountains.jpg)]"
      />
      <Card
        author="by Benjamin Cruz"
        date=""
        title="Sunset Cityscapes"
        background="bg-[linear-gradient(180deg,rgba(0,0,0,0.0001)0.27%,rgba(0,0,0,0.661222)_100%),url(/stories/mobile/cityscapes.jpg)] tablet:bg-[linear-gradient(180deg,rgba(0,0,0,0.0001)0.27%,rgba(0,0,0,0.661222)_100%),url(/stories/desktop/cityscapes.jpg)]"
      />
      <Card
        author="by Alexei Borodin"
        date=""
        title="18 Days Voyage"
        background="bg-[linear-gradient(180deg,rgba(0,0,0,0.0001)0.27%,rgba(0,0,0,0.661222)_100%),url(/stories/mobile/18-days-voyage.jpg)] tablet:bg-[linear-gradient(180deg,rgba(0,0,0,0.0001)0.27%,rgba(0,0,0,0.661222)_100%),url(/stories/desktop/18-days-voyage.jpg)]"
      />
      <Card
        author="by Samantha Brooke"
        date=""
        title="Architecturals"
        background="bg-[linear-gradient(180deg,rgba(0,0,0,0.0001)0.27%,rgba(0,0,0,0.661222)_100%),url(/stories/mobile/architecturals.jpg)] tablet:bg-[linear-gradient(180deg,rgba(0,0,0,0.0001)0.27%,rgba(0,0,0,0.661222)_100%),url(/stories/desktop/architecturals.jpg)]"
      />
    </div>
    <div
      class="tablet:py-28 py-20 desktop:grid desktop:grid-cols-3 px-8 tablet:px-36 desktop:px-40"
    >
      <FeatureCard
        className={"tablet:pb-20 desktop:pb-0 pb-14"}
        description={"No matter which the device you’re on, our site is fully responsive and stories look beautiful on any screen."}
        title="100% Responsive"
        icon="/features/desktop/responsive.svg"
      />
      <FeatureCard
        className={"tablet:pb-20 desktop:pb-0 pb-14"}
        description={"Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go."}
        title="No Photo Upload Limit"
        icon="/features/desktop/no-limit.svg"
        iconClass="mb-4"
      />
      <FeatureCard
        description={"Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos, Google Maps, and more. "}
        title="Available to Embed"
        icon="/features/desktop/embed.svg"
      />
    </div>
  </main>
</Layout>
