---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="grid grid-cols-4 relative h-screen"></main>
</Layout>
