---
import MainCard from "../components/MainCard.astro";
import Layout from "../layouts/Layout.astro";
import PlansContainer from "../components/Plan/PlansContainer";
import GetInvite from "../components/GetInvite.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <MainCard
      imageFileName="hero.jpg"
      imageFolderName="pricing"
      description="Create a your stories, Photosnap is a platform for photographers and visual storytellers. It’s the simple way to create and share your photos."
      title="PRICING"
      isHero
    />
    <PlansContainer client:load />

    <GetInvite />
  </main>
</Layout>
