---
import Card from "../components/Card.astro";
import FeatureCard from "../components/FeatureCard.astro";
import FocusedStory from "../components/FocusedStory.astro";
import GetInvite from "../components/GetInvite.astro";
import MainCard from "../components/MainCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <FocusedStory />
    <!-- <GetInvite /> -->
  </main>
</Layout>
