---
import Button from "./Button.astro";

export interface Props {
  date: string;
  title: string;
  author: string;
  link?: string;
  background: string;
}
const { date, title, author, link, background } = Astro.props;
---

<div
  class={` h-[23.43rem] tablet:h-[31.25rem] group hover:relative hover:z-10 hover:bottom-6 min-w-[23.43rem] tablet:min-w-[22.5rem] w-full  p-10 flex flex-col justify-end ${background} bg-cover hover:border-b-[6px]  `}
  style={{
    borderImage:
      "linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%) 6",
  }}
>
  <div
    class="text-white text-[0.8125rem] leading-[1.05rem] pb-5 border-b border-white border-opacity-25"
  >
    <p class="">{date}</p>
    <h4 class="text-h2 text-[1.125rem] my-1">{title}</h4>
    <p class="">by {author}</p>
  </div>
  <Button isDark isGhost customClass={"flex justify-between pl-0 py-0 pt-4 "}>
    <div class="">read story</div>
    <svg
      class="inline-block ml-5"
      width="42"
      height="14"
      viewBox="0 0 42 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 7H41.864" stroke="white"></path>
      <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"></path>
    </svg>
  </Button>
</div>
