---
import Button from "./Button.astro";
import Logo from "./svgs/Logo.astro";
import Menu from "./svgs/Menu.astro";
import Close from "./svgs/Close.astro";
import NavItems from "./NavItems.astro";
const navItems = [
  { title: "stories", link: "#" },
  { title: "features", link: "#features" },
  { title: "pricing", link: "#" },
];
---

<header
  class="flex justify-between items-center py-7 desktop:px-40 tablet:px-10 px-6 bg-white"
>
  <div class="">
    <Logo />
  </div>
  <NavItems
    ulClassName={"hidden tablet:flex"}
    liClassName={" mr-9 last:mr-0 text-black "}
  />
  <div class="hidden tablet:block">
    <Button isDark>get an invite</Button>
  </div>
  <button class="block tablet:hidden" id="mobile-menu-button">
    <Menu class="mobile-menu" />
    <Close class="hidden mobile-menu" />
  </button>
</header>
<div class="tablet:hidden" id="navbar">
  <div class="mobile-menu w-full tablet:hidden px-8 hidden pt-8 bg-white">
    <NavItems
      ulClassName={"tablet:hidden text-center border-b border-black border-opacity-25 transition-all duration-1000"}
      liClassName={"mb-5"}
    />

    <div class="mt-5 pb-8">
      <Button
        customClass={"block text-center h-12 flex justify-center items-center"}
        isDark
      >
        get an invite
      </Button>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("mobile-menu-button")
    ?.addEventListener("click", () => {
      document
        .querySelectorAll(".mobile-menu")
        ?.forEach((element) => element.classList.toggle("hidden"));
      document.getElementById("navbar")?.classList.toggle("mobile_navbar");
      document.getElementById("root")?.classList.toggle("overflow-y-hidden");
    });
  document.getElementById("navbar")?.addEventListener("click", () => {
    document.getElementById("root")?.classList.toggle("overflow-y-hidden");
    document
      .querySelectorAll(".mobile-menu")
      ?.forEach((element) => element.classList.toggle("hidden"));
    document.getElementById("navbar")?.classList.toggle("mobile_navbar");
  });
</script>

<style>
  .mobile_navbar {
    @apply w-screen h-screen absolute z-50 top-14 bg-black bg-opacity-50;
  }
</style>
